{{#partial "title" }}
    {{name}}
{{/partial}}


{{#partial "content"}}

    <h2>New Squad </h2>
    <h5>Squad Name:   {{squad}}</h5>
    <h5>Cause:   {{cause}}</h5>
    <p><a href="/squads/list">View More</a></p>

{{/partial}}

{{> layout.hbs}}